.Container {
  background: #e6b3a1;
  margin: 30px 50px;
  border-radius: 20px;
  padding: 30px;
  color: black;
  font-weight: normal;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.Container h1 {
  font-size: 52px;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.Container h2 {
  margin: 0;
}
.Container h4 {
  margin: 30px 0 0 0;
  opacity: 70%;
  font-size: 20px;
}

.Container .Logo {
  max-width: 60px;
  display: block;
  margin: 10px auto;
}
