.Container {
  display: block;
  background: #eadbc8;
  max-width: 1000px;
  margin: 20px;
  border-radius: 10px;
}

.Container .App-header {
  padding: 30px 0 0 0;
}

.Container h4 {
  margin: 30px 0 0 0;
  opacity: 70%;
}
