.Dictionary-examples {
  opacity: 60%;
  font-size: 13px;
}
.Dictionary .Search-button {
  color: white;
  background-color: #102c57;
  border-radius: 25px;
  border: none;
  line-height: 1;
  font-size: 20px;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
}

.Search-button:hover {
  color: #102c57;
  background-color: white;
  font-weight: bold;
}

.Dictionary .Search-field {
  margin-right: 20px;
  border: none;
  color: black;
  line-height: 1;
  font: 20px;
  padding: 15px;
  width: 300px;
  border-radius: 25px;
}
